@model IEnumerable<Loaimonan>
<li class="uk-parent uk-open">
    <a href="#">MENU</a>
    <ul class="uk-nav-sub">
        @foreach(var item in Model){
            <li><a asp-controller="Home" asp-action="CongThucTheoLoaiMonAn" asp-route-maloaimonan="@item.MaLoaiMonAn">@item.TenLoaiMonAn</a></li>
        }
    </ul>
</li>