
<!DOCTYPE html>
<html lang="en-gb" dir="ltr">


<!-- Mirrored from html-theme-kocina.vercel.app/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 16 Apr 2023 14:15:35 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ShoGun | Chia Sẻ Công Thức Nấu Ăn</title>
    <link rel="shortcut icon" type="image/png" href="../../LayoutWebNauAn/html-theme-kocina.vercel.app/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../LayoutWebNauAn/html-theme-kocina.vercel.app/css/main.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="../../LayoutWebNauAn/html-theme-kocina.vercel.app/js/uikit.js"></script>
</head>

<body>

    <nav class="uk-navbar-container uk-letter-spacing-small">
        <div class="uk-container">
            <div class="uk-position-z-index" data-uk-navbar>
                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo" href="index-2.html">Shogun</a>
                    <ul class="uk-navbar-nav uk-visible@m uk-margin-large-left">
                        <li class="uk-active"><a asp-action="Index">Trang Chủ</a></li>
                        
                    </ul>
                </div>
                <div class="uk-navbar-right">
                 
                    <ul class="uk-navbar-nav uk-visible@m">
                        <li><a href="@Url.Action("Login","Access")">Đăng Nhập</a></li>
                    </ul>
                    <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas" data-uk-toggle>
                        <span data-uk-navbar-toggle-icon></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="uk-container">
        <div class="uk-border-rounded-large uk-background-top-center uk-background-cover
    uk-background-norepeat uk-light uk-inline uk-overflow-hidden uk-width-1-1"
             style="background-image: url(../../LayoutWebNauAn/html-theme-kocina.vercel.app/img/header.jpg);">
            <div class="uk-position-cover uk-header-overlay"></div>
            <div class="uk-position-relative" data-uk-grid>
                <div class="uk-width-1-2@m uk-flex uk-flex-middle">
                    <div class="uk-padding-large uk-padding-remove-right">
                        <h1 class="uk-heading-small uk-margin-remove-top">Bạn có phải là người thích nấu ăn?</h1>
                        <p class="uk-text-secondary">
                            Vậy đích thị đây là nơi dành cho bạn. Với hàng ngàn công thức được tổng hợp từ các chuyên gia âm thực,
                            bạn sẽ có thể học hỏi và nấu được các món ăn mà mình mong muốn.      
                        </p>
                        <a class="uk-text-secondary uk-text-600 uk-text-small hvr-forward" href="sign-up.html">
                            Hãy cùng trải nghiệm nhé!<span class="uk-margin-small-left" data-uk-icon="arrow-right"></span>
                        </a>
                    </div>
                </div>
                <div class="uk-width-expand@m">
                </div>
            </div>
        </div>
    </div>

    <div class="uk-section uk-section-default">
        <div class="uk-container">
            <div data-uk-grid>
                <div class="uk-width-1-4@m sticky-container">
                    <div data-uk-sticky="offset: 100; bottom: true; media: @@m;">
                        <h2>Công Thức</h2>
                        <ul class="uk-nav-default uk-nav-parent-icon uk-nav-filter uk-margin-medium-top" data-uk-nav>
                            @await Component.InvokeAsync("LoaiMonAn")
                            
                        </ul>
                    </div>
                </div>
                <div class="uk-width-expand@m">
                    <div data-uk-grid>
                        <div class="uk-width-expand@m">
                            <form class="uk-search uk-search-default uk-width-1-1" method="get" action="@Url.Action("searchFood", "Home")">
                                <span data-uk-search-icon></span>
                                <input name="searchText" class="uk-search-input uk-text-small uk-border-rounded uk-form-large" type="search" placeholder="Search for recipes...">
                            </form>
                        </div>
                            
                    </div>
                    <div class="uk-child-width-1-2 uk-child-width-1-3@s" data-uk-grid>
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <div class="uk-container">
        <div class="uk-background-primary uk-border-rounded-large uk-light">
            <div class="uk-width-3-4@m uk-margin-auto uk-padding-large">
                <div class="uk-text-center">
                    <h2 class="uk-h2 uk-margin-remove">Đăng kí ngay để nhận thông tin về công thức mới nhất!</h2>
                </div>
                <div class="uk-margin-medium-top">
                    <div data-uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true">
                        <form>
                            <div class="uk-grid-small" data-uk-grid>
                                <div class="uk-width-1-1 uk-width-expand@s uk-first-column">
                                    <input type="email" placeholder="Email Address" class="uk-input uk-form-large uk-width-1-1 uk-border-pill">
                                </div>
                                <div class="uk-width-1-1 uk-width-auto@s">
                                    <input type="submit" value="Subscribe" class="uk-button uk-button-large uk-button-warning">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="uk-section uk-section-default">
        <div class="uk-container uk-text-secondary uk-text-500">
            <div class="uk-child-width-1-2@s" data-uk-grid>
                <div>
                    <a href="#" class="uk-logo">Shogun</a>
                </div>
                <div class="uk-flex uk-flex-middle uk-flex-right@s">
                    <div data-uk-grid class="uk-child-width-auto uk-grid-small">
                        <div>
                            <a href="https://www.facebook.com/" data-uk-icon="icon: facebook; ratio: 0.8" class="uk-icon-button facebook" target="_blank"></a>
                        </div>
                        <div>
                            <a href="https://www.instagram.com/" data-uk-icon="icon: instagram; ratio: 0.8" class="uk-icon-button instagram" target="_blank"></a>
                        </div>
                        <div>
                            <a href="mailto:info@blacompany.com" data-uk-icon="icon: twitter; ratio: 0.8" class="uk-icon-button twitter" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-child-width-1-2@s uk-child-width-1-4@m" data-uk-grid>
                <div>
                    <ul class="uk-list uk-text-small">
                        <li><a class="uk-link-text" href="#">Thực tập chuyên môn Lập trình Web</a></li>
                        <li><a class="uk-link-text" href="#">Trần Minh Tú(201210384 - CNTT4 - K61)</a></li>
                        <li><a class="uk-link-text" href="#">Đại học Giao Thông Vận Tải</a></li>
                    </ul>
                </div>
                <div>
                    <ul class="uk-list uk-text-small">
                        <li><a class="uk-link-text" href="#">Việc làm</a></li>
                        <li><a class="uk-link-text" href="#">Góp ý</a></li>
                        <li><a class="uk-link-text" href="#">Đăng ký thành viên</a></li>
                    </ul>
                </div>
                <div>
                    <ul class="uk-list uk-text-small">
                        <li><a class="uk-link-text" href="#">Sáng kiến</a></li>
                        <li><a class="uk-link-text" href="#">Phản hồi</a></li>
                        <li><a class="uk-link-text" href="#">Cộng đồng</a></li>
                    </ul>
                </div>
                <div>
                    <ul class="uk-list uk-text-small">
                        <li><a class="uk-link-text" href="#">tuminhtran2408@gmail.com</a></li>
                        <li><a class="uk-link-text" href="#">0338300278</a></li>
                        <li><a class="uk-link-text" href="#">Số 3 Cầu Giấy,Láng Thượng,Đống Đa,Hà Nội</a></li>
                    </ul>
                </div>
            </div>
            <div class="uk-margin-medium-top uk-text-small uk-text-muted">
                <div>Được thực hiện bởi Trần Minh Tú - 201210384 - CNTT4 - K61</div>
            </div>
        </div>
    </footer>

    <div id="offcanvas" data-uk-offcanvas="flip: true; overlay: true">
        <div class="uk-offcanvas-bar">
            <a class="uk-logo" href="index-2.html">Kocina</a>
            <button class="uk-offcanvas-close" type="button" data-uk-close="ratio: 1.2"></button>
            <ul class="uk-nav uk-nav-primary uk-nav-offcanvas uk-margin-medium-top uk-text-center">
                <li class="uk-active"><a href="index-2.html">Home</a></li>
                <li><a href="recipe.html">Recipe</a></li>
                <li><a href="search.html">Search</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="sign-in.html">Sign In</a></li>
                <li><a href="sign-up.html">Sign Up</a></li>
            </ul>
            <div class="uk-margin-medium-top">
                <a class="uk-button uk-width-1-1 uk-button-primary" href="sign-up.html">Sign Up</a>
            </div>
            <div class="uk-margin-medium-top uk-text-center">
                <div data-uk-grid class="uk-child-width-auto uk-grid-small uk-flex-center">
                    <div>
                        <a href="https://twitter.com/" data-uk-icon="icon: twitter" class="uk-icon-link" target="_blank"></a>
                    </div>
                    <div>
                        <a href="https://www.facebook.com/" data-uk-icon="icon: facebook" class="uk-icon-link" target="_blank"></a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/" data-uk-icon="icon: instagram" class="uk-icon-link" target="_blank"></a>
                    </div>
                    <div>
                        <a href="https://vimeo.com/" data-uk-icon="icon: vimeo" class="uk-icon-link" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


<!-- Mirrored from html-theme-kocina.vercel.app/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 16 Apr 2023 14:15:38 GMT -->
</html>