USE [master]
GO
/****** Object:  Database [Web_Nau_An]    Script Date: 26/04/2023 7:03:28 CH ******/
CREATE DATABASE [Web_Nau_An]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Web_Nau_An', FILENAME = N'F:\mýql\MSSQL15.SQLEXPRESS\MSSQL\DATA\Web_Nau_An.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Web_Nau_An_log', FILENAME = N'F:\mýql\MSSQL15.SQLEXPRESS\MSSQL\DATA\Web_Nau_An_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Web_Nau_An].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Web_Nau_An]
GO
/****** Object:  Table [dbo].[CACBUOCNAU]    Script Date: 26/04/2023 7:03:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CACBUOCNAU](
	[MaBuoc] [int] NOT NULL,
	[MaCongThuc] [int] NOT NULL,
	[BuocThucHien] [int] NULL,
	[HuongDan] [nvarchar](max) NULL,
 CONSTRAINT [pk_CACBUOCNAU] PRIMARY KEY CLUSTERED 
(
	[MaBuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONGTHUC]    Script Date: 26/04/2023 7:03:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGTHUC](
	[MaCongThuc] [int] NOT NULL,
	[TenCongThuc] [nvarchar](100) NULL,
	[MoTa] [nvarchar](1000) NULL,
	[ThoiGianChuanBi] [int] NULL,
	[TongThoiGianNau] [int] NULL,
	[PhucVu] [int] NULL,
	[TacGia] [nvarchar](50) NULL,
	[Anh] [nvarchar](200) NULL,
	[AnhChiTiet] [nvarchar](100) NULL,
 CONSTRAINT [pk_CONGTHUC] PRIMARY KEY CLUSTERED 
(
	[MaCongThuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONGTHUC_LOAIMONAN]    Script Date: 26/04/2023 7:03:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGTHUC_LOAIMONAN](
	[MaCongThuc] [int] NOT NULL,
	[MaLoaiMonAn] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONGTHUC_NGUYENLIEU]    Script Date: 26/04/2023 7:03:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGTHUC_NGUYENLIEU](
	[ID_CongThuc_NguyenLieu] [int] NOT NULL,
	[MaCongThuc] [int] NOT NULL,
	[MaNguyenLieu] [int] NOT NULL,
 CONSTRAINT [PK_CONGTHUC_NGUYENLIEU] PRIMARY KEY CLUSTERED 
(
	[ID_CongThuc_NguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIMONAN]    Script Date: 26/04/2023 7:03:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIMONAN](
	[MaLoaiMonAn] [int] NOT NULL,
	[TenLoaiMonAn] [nvarchar](100) NULL,
	[Mota] [nvarchar](200) NULL,
 CONSTRAINT [pk_LOAIMONAN] PRIMARY KEY CLUSTERED 
(
	[MaLoaiMonAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAINGUYENLIEU]    Script Date: 26/04/2023 7:03:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAINGUYENLIEU](
	[MaLoaiNguyenLieu] [int] NOT NULL,
	[TenLoai] [nvarchar](20) NOT NULL,
	[MoTa] [nvarchar](200) NULL,
 CONSTRAINT [pk_LOAINGUYENLIEU] PRIMARY KEY CLUSTERED 
(
	[MaLoaiNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUYENLIEU]    Script Date: 26/04/2023 7:03:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYENLIEU](
	[MaNguyenLieu] [int] NOT NULL,
	[MaLoaiNguyenLieu] [int] NOT NULL,
	[TenNguyenLieu] [nvarchar](100) NULL,
	[SoLuong] [float] NULL,
	[DonVi] [nvarchar](20) NULL,
 CONSTRAINT [pk_NGUYENLIEU] PRIMARY KEY CLUSTERED 
(
	[MaNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 26/04/2023 7:03:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CACBUOCNAU] ([MaBuoc], [MaCongThuc], [BuocThucHien], [HuongDan]) VALUES (1, 1, 1, N'Xà lách lặt lấy từng là lớn không cắt nhỏ, rửa sạch và để ráo (Ngâm nước muối khoảng 15 phút trước khi rửa cho đảm bảo sạch). Đậu que tước gân hai đầu và hai bên lưng. Cà rốt thái thành sợi vừa dài không quá nhỏ. Dưa leo cũng cắt thành những que dài.')
INSERT [dbo].[CACBUOCNAU] ([MaBuoc], [MaCongThuc], [BuocThucHien], [HuongDan]) VALUES (2, 1, 2, N'Thịt gà rửa sạch để ráo và cắt thành khúc dài. Sau đó ướp với tiêu, hạt nêm, xì dầu và hành tỏi băm. Trộn đều và ướp trong vòng 15 phút cho thịt thấm và mềm.')
INSERT [dbo].[CACBUOCNAU] ([MaBuoc], [MaCongThuc], [BuocThucHien], [HuongDan]) VALUES (3, 1, 3, N'Bắc nồi nồi nước lên bếp, khi nước bắt đầu sôi lăn tăn thì cho 1/2 muỗng cà phê muối vào khoáy đều, tiếp theo cho cà rốt và đậu que vào luộc vừa chín. Không nên luộc chín quá vì như vậy sẽ làm rau bị mềm, không còn giòn và ngọt nữa. Vớt ra và để ráo nước.')
GO
INSERT [dbo].[CONGTHUC] ([MaCongThuc], [TenCongThuc], [MoTa], [ThoiGianChuanBi], [TongThoiGianNau], [PhucVu], [TacGia], [Anh], [AnhChiTiet]) VALUES (2, N'Nghêu Hấp Thái', N'Món nghêu hấp thái với những con nghêu ngọt béo hòa quyện cùng vị chua, cay đặc trưng của món thái cùng mùi thơm của xả, lá chanh thật không thể cưỡng lại. Hãy cùng hằng vào bếp để làm nhé.', 15, 20, 2, N'Mỹ Chi', N'khaivi2.jpg', N'khaivichitiet2.jpg')
INSERT [dbo].[CONGTHUC] ([MaCongThuc], [TenCongThuc], [MoTa], [ThoiGianChuanBi], [TongThoiGianNau], [PhucVu], [TacGia], [Anh], [AnhChiTiet]) VALUES (3, N'Bánh Cuốn Pad Thái', N'Bánh tráng cuốn Pad Thái kiểu này vừa đẹp mắt lại vừa lạ miệng, cách làm thì không hề khó tí nào. Đây là món ăn lành tính, thanh lọc cơ thể, không chứa nhiều dầu mỡ, cực kì thích hợp để thưởng thức vào những ngày hè oi nóng đấy. Ngoài ra, nếu bạn đã có ý định giảm cân thì món ăn này cũng là một gợi ý không tồi phải không?', 10, 25, 4, N'Diệp An', N'khaivi3.jpg', N'khaivichitiet3.jpg')
GO
INSERT [dbo].[CONGTHUC_LOAIMONAN] ([MaCongThuc], [MaLoaiMonAn]) VALUES (1, 1)
INSERT [dbo].[CONGTHUC_LOAIMONAN] ([MaCongThuc], [MaLoaiMonAn]) VALUES (2, 1)
INSERT [dbo].[CONGTHUC_LOAIMONAN] ([MaCongThuc], [MaLoaiMonAn]) VALUES (3, 1)
GO
INSERT [dbo].[CONGTHUC_NGUYENLIEU] ([ID_CongThuc_NguyenLieu], [MaCongThuc], [MaNguyenLieu]) VALUES (1, 1, 1)
INSERT [dbo].[CONGTHUC_NGUYENLIEU] ([ID_CongThuc_NguyenLieu], [MaCongThuc], [MaNguyenLieu]) VALUES (2, 1, 2)
INSERT [dbo].[CONGTHUC_NGUYENLIEU] ([ID_CongThuc_NguyenLieu], [MaCongThuc], [MaNguyenLieu]) VALUES (3, 1, 3)
GO
INSERT [dbo].[LOAIMONAN] ([MaLoaiMonAn], [TenLoaiMonAn], [Mota]) VALUES (1, N'Khai Vị', NULL)
INSERT [dbo].[LOAIMONAN] ([MaLoaiMonAn], [TenLoaiMonAn], [Mota]) VALUES (2, N'Đồ ăn sáng', NULL)
INSERT [dbo].[LOAIMONAN] ([MaLoaiMonAn], [TenLoaiMonAn], [Mota]) VALUES (3, N'Món chính', NULL)
GO
INSERT [dbo].[LOAINGUYENLIEU] ([MaLoaiNguyenLieu], [TenLoai], [MoTa]) VALUES (1, N'Rau Củ', N'aaa')
INSERT [dbo].[LOAINGUYENLIEU] ([MaLoaiNguyenLieu], [TenLoai], [MoTa]) VALUES (2, N'Thịt', NULL)
INSERT [dbo].[LOAINGUYENLIEU] ([MaLoaiNguyenLieu], [TenLoai], [MoTa]) VALUES (3, N'Hải Sản', NULL)
GO
INSERT [dbo].[NGUYENLIEU] ([MaNguyenLieu], [MaLoaiNguyenLieu], [TenNguyenLieu], [SoLuong], [DonVi]) VALUES (1, 2, N'Ức Gà', 300, N'Gr')
INSERT [dbo].[NGUYENLIEU] ([MaNguyenLieu], [MaLoaiNguyenLieu], [TenNguyenLieu], [SoLuong], [DonVi]) VALUES (2, 1, N'Cà Rốt', 1.5, N'Củ')
INSERT [dbo].[NGUYENLIEU] ([MaNguyenLieu], [MaLoaiNguyenLieu], [TenNguyenLieu], [SoLuong], [DonVi]) VALUES (3, 1, N'Đậu que', 100, N'Gr')
GO
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau]) VALUES (N'admin', N'admin')
GO
ALTER TABLE [dbo].[CACBUOCNAU]  WITH CHECK ADD  CONSTRAINT [FK_CACBUOCNAU_CONGTHUC] FOREIGN KEY([MaCongThuc])
REFERENCES [dbo].[CONGTHUC] ([MaCongThuc])
GO
ALTER TABLE [dbo].[CACBUOCNAU] CHECK CONSTRAINT [FK_CACBUOCNAU_CONGTHUC]
GO
ALTER TABLE [dbo].[CONGTHUC_LOAIMONAN]  WITH CHECK ADD  CONSTRAINT [FK_CONGTHUC_LOAIMONAN_CONGTHUC] FOREIGN KEY([MaCongThuc])
REFERENCES [dbo].[CONGTHUC] ([MaCongThuc])
GO
ALTER TABLE [dbo].[CONGTHUC_LOAIMONAN] CHECK CONSTRAINT [FK_CONGTHUC_LOAIMONAN_CONGTHUC]
GO
ALTER TABLE [dbo].[CONGTHUC_LOAIMONAN]  WITH CHECK ADD  CONSTRAINT [FK_CONGTHUC_LOAIMONAN_LOAIMONAN] FOREIGN KEY([MaLoaiMonAn])
REFERENCES [dbo].[LOAIMONAN] ([MaLoaiMonAn])
GO
ALTER TABLE [dbo].[CONGTHUC_LOAIMONAN] CHECK CONSTRAINT [FK_CONGTHUC_LOAIMONAN_LOAIMONAN]
GO
ALTER TABLE [dbo].[CONGTHUC_NGUYENLIEU]  WITH CHECK ADD  CONSTRAINT [FK_CONGTHUC_NGUYENLIEU_CONGTHUC] FOREIGN KEY([MaCongThuc])
REFERENCES [dbo].[CONGTHUC] ([MaCongThuc])
GO
ALTER TABLE [dbo].[CONGTHUC_NGUYENLIEU] CHECK CONSTRAINT [FK_CONGTHUC_NGUYENLIEU_CONGTHUC]
GO
ALTER TABLE [dbo].[CONGTHUC_NGUYENLIEU]  WITH CHECK ADD  CONSTRAINT [FK_CONGTHUC_NGUYENLIEU_NGUYENLIEU] FOREIGN KEY([MaNguyenLieu])
REFERENCES [dbo].[NGUYENLIEU] ([MaNguyenLieu])
GO
ALTER TABLE [dbo].[CONGTHUC_NGUYENLIEU] CHECK CONSTRAINT [FK_CONGTHUC_NGUYENLIEU_NGUYENLIEU]
GO
ALTER TABLE [dbo].[NGUYENLIEU]  WITH CHECK ADD  CONSTRAINT [FK_NGUYENLIEU_LOAINGUYENLIEU] FOREIGN KEY([MaLoaiNguyenLieu])
REFERENCES [dbo].[LOAINGUYENLIEU] ([MaLoaiNguyenLieu])
GO
ALTER TABLE [dbo].[NGUYENLIEU] CHECK CONSTRAINT [FK_NGUYENLIEU_LOAINGUYENLIEU]
GO
USE [master]
GO
