@model WebNauAn.Models.CongthucNguyenlieu
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "SuaCongThucNguyenLieu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>SuaCongThucNguyenLieu</h1>

<h4>CongthucNguyenlieu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SuaCongThucNguyenLieu">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCongThucNguyenLieu" class="control-label"></label>
                <input asp-for="IdCongThucNguyenLieu" class="form-control" />
                <span asp-validation-for="IdCongThucNguyenLieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaCongThuc" class="control-label"></label>
                <select asp-for="MaCongThuc" class ="form-control" asp-items="ViewBag.MaCongThuc"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaNguyenLieu" class="control-label"></label>
                <select asp-for="MaNguyenLieu" class ="form-control" asp-items="ViewBag.MaNguyenLieu"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
