@model WebNauAn.Models.Congthuc
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ThemSanPhamMoi";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>ThemSanPhamMoi</h1>

<h4>Congthuc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ThemSanPhamMoi" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaCongThuc" class="control-label"></label>
                <input asp-for="MaCongThuc" class="form-control" />
                <span asp-validation-for="MaCongThuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenCongThuc" class="control-label"></label>
                <input asp-for="TenCongThuc" class="form-control" />
                <span asp-validation-for="TenCongThuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianChuanBi" class="control-label"></label>
                <input asp-for="ThoiGianChuanBi" class="form-control" />
                <span asp-validation-for="ThoiGianChuanBi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TongThoiGianNau" class="control-label"></label>
                <input asp-for="TongThoiGianNau" class="form-control" />
                <span asp-validation-for="TongThoiGianNau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhucVu" class="control-label"></label>
                <input asp-for="PhucVu" class="form-control" />
                <span asp-validation-for="PhucVu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TacGia" class="control-label"></label>
                <input asp-for="TacGia" class="form-control" />
                <span asp-validation-for="TacGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Anh:</label>
                <input type="file" name="anh" id="anh" class="form-control">
            </div>
            <div class="form-group">
                <label >AnhChiTiet:</label>
                <input type="file" name="anhchitiet" id="anhchitiet" class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

